*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Genos', sans-serif;
    
}
/* body{
    background-color: #fefae0;
} */

li,a,button{
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.logo{
    cursor: pointer;
    margin-left: 10px;
}

header img{
    width: 100px;
    height: 100px;
}

.nav_links li{
    display: inline-block;
    padding: 20px 20px;
    
}

button{
    margin-right: 10px;
    padding: 9px 25px;
    background-color:#E0622D;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    
}


